<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="448" />
    <add key="mainForm.Location.Y" value="40" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEALNb5+p/YsE9DwaGA/8B8WvZFAwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAJtT5uZ/YsE9DwaGA/8Bi/O/3gwAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAFsfUet/YsE9DwaGA/8BYcrx+QwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAFsfUet/YsE9DwaGA/8BYcrx+QwAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAIt/9s/vxIJ7HgwMB/4bSAsxMQDBcY/pTqfnpoDZmuHTnYwTksDsZ4enO5W2JIPZ8qYznFpMIGq2Lp3hxP8vEcw+ID7T6ZwxRP3zY9OdAMK0tjVgAAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADMQ/+93YsE9DwaGA//jXwkyMQCBaJyd4+m5KWC2foGdo3FCEpjN9NPOsbQlGcyubrd3bDGBqNEQdXDk/5cIZq9c4uB4zhii/tQfO0cAG6NW9WAAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAKux++93YsE9DwaGA/+FDwsyMQCBj0mpw+m5KWD2k9clDsYJSWD2jBNFDqUtyWD2lr4ChxYTiBqGiDwH/n+JYPYfyRyHc8YQ9RU7ixwALaThl2AAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEADuj8tnvxIJ7HgwMB/5PTqhlZACCHaU/HJXiUphA7DK2A47G35LAbI1/MxwjIiFshhWTHc/sgap5t8rxSz5UPGG+Y282lF2z2vHSLYgakfw+RwBBXO+obAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEADuj8tnvxIJ7HgwMB/5PTqhlZACC7byyTkpxKUwg9sbgdY7G35LAbAaDPseISChboNvxzB6ImhuVaxy/5EPFFWY69mZD2QzrHS/dgqhJSp/sCACNMu+TbAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAHvu+9nvxIJ7HgwMB/5XmNcyMgBBHvdDR6W4FCYQe+PmC47G35LAbAaDPseISCj7wlzHM3sgahgm7HL8kg8VX7DUsTcbyp4w3fHSLYiaG5ozHAF/ND7EbAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAHvu+9nvxIJ7HgwMB/5XmNcyMgCBp9MtR6W4FCYQO9l8qaPxtyQwu2zRJMeISAibIaHN8cweiJo3LHMdv+RDxS+0OPZmQ9kOWx0v3YKoYZjQ4QgAHRYsaGwAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAKsr++x3YsE9DwaGA/8f8tUyMgDBttw3jkpxKUwgtvDt247G35LAbPVvWxwjIiFshoT5jmf2QNSIrF7u+CUfKv5hp2NvNpStsMnx0i2omtmtjgDmvR8YbAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEANu/47vfiQX3PBgYDvxfcKaCkQEMVjkpxaUwQdjTnIy/JUHZ3U4RkVB2wwynM3tgamY6fcmHic926s2Gsac5sX+FqmnocgIA54cJ42wAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEADN78N3vxIJ7HgwMB/5rLq1gZACBhllOSnEpTGA2Q7+T8bckCLthulNEJJTNMNfpzB6YmkVOX/JhavqcerOT4HrZv8LUtDsBAHQ02KBsAAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEADN78N3vxIJ7HgwMB/5rLq1gZACBhnVOSnEpTBD2BCfjb0kQNkO/U0QkjD3BSfshTM0kp7fNCDWmxjD2TCf2r1A1DG1OAJESXnRsAAAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEADNn/+F3YsE9DwaGA/816ioYGUCgYbGTUlwKE4Td62T8LQnCZpjsVJoBY09y4rsEUzPZ6W0zTLzLydQ4Ca6X/StMTZMTADL5jWNsAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEADNn/+F3YsE9DwaGA/816ioYGUCgYbuTUlwKE5jNMM1pDn8ylL3Aicc/CcJuWOTEdwmmZonT22aoOMN8J1NjmJpZTuxfYWq6nQDYBhAVbAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADNn/+F3YsE9DwaGA//fLm9iZAACIesTTmm745lA7CqrE07su/XYYewjPAlg8Qog+7l5EphdA2Sv3JgCZlcC2QCWBnY0VAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEADNn/+F3YsE9DwaGA/+n8VYzMgDBH70W1wXBSUwg9oofjq5sp1LA7DW6wa5ScRDx3Yt0XX1eQ8TLXBtcs4oh4qVAdrA9hK31OdV1z0eImiorD1cAtsgz62wAAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAHPT++F3YsE9DwaGA//jPtUyMgDBddcGV/fqeCYQW7rT2XXG2RQwW2lfiKv0UQhbDcie+xXCDt0Y73rQMQnM/mWS42odCGGXA815cxOiZukPR1cAZ7p0+2wAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAHPT++F3YsE9DwaGA/+tTRoYGYDgEXuJq8C6eCYQ20FIx3XK4RQwOyXa27X9A4Q9xy/M9dQpCFtIJNP1rFMSmK20L8Q1NwnC/meS42q/DMI+4iPpCgCrSeKabAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEALsV98PvxIJ7HgwMB/57BTQxMgDBddcG17Td8UwgdtDGeNd9LKlg9hGeANeU1ylg9hOFONenpyDsMqD6IzwJYDbP/XDX5+ZJYHbVrzrXlRshao76SLoCAFIAAd9sAAAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEALsV98PvxIJ7HgwMB/57BTQxMgBB4IMFjmm745lA7MPVXo77WFLB7KoV5o4pr1PA7Pp1Lo5PT0HYr9rzHY/wJIDZ1izOjs/Nk8Bs03PBjis3QtRYVKo7AgDTewosbAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEALsV98PvxIJ7HgwMB/57BTQxMgDBtJu1jmm745lA7H+6ko77WFLB7G2bOB1TXqeA2SnrRByfnoKwk9bZOh7hSQCzJT6KOD43TwKzX2xVcly5EaLmT+5PBwCumc6LbAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEALsV98PvxIJ7HgwMB/57BTQxMgDBYtsQu7Td8UwgtsY+Fbt9LKlgdvsqZ7uU1ylg9rZ7hXZPT0HY/+Mq7Y7wJIDZRhLeds/Nk8DsJZXr7FZuhKiRftxrBwCsfAlLbAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEALsV98PvxIJ7HgwMB/57BTQxMkDBwZytAjA2ANQy1VQkAAAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>